- provide(:title, "Create Listing")

.row
  .large-6.columns
    %h1 Create Listing
    = simple_form_for @listing do |f|
      = f.input :name
      = f.input :description
      = f.input :file
      = f.input :price, label: "Price (in BTC)"
      = f.input :bitcoin_address
      = f.button :submit